<!DOCTYPE html>

<html>

<head>
    <title>About</title>
       <link rel="icon" href="/img/weather.png" />
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
         {{>header}}
    <div class="main-content">
    <img class= "portrait" src="/img/me.jpg">
    <p>It was created by Jani. It uses data from mapbox.com and darksky.net </p>
    </div>
    {{>footer}}
</body>

</html>